print - input

변수 (값을 저장하는 이름표)

In [14]:
print(1+1)
print(2+2)

2
4

In [15]:
print("안녕하세요")

안녕하세요

In [18]:
print('''동해물과 백두산이
마르고 닳도록
...''')

동해물과 백두산이
마르고 닳도록
...

In [19]:
input('당신의 이름은 : ')

당신의 이름은 : 홍길동

'홍길동'

In [25]:
print(input('당신의 이름은: ')) # 사용자의 입력을 받는 명령어
print('반갑습니다') # print는 화면에 출력하는 기능

당신의 이름은: 123
123
반갑습니다

In [24]:
#변수명 = 값
#변수명은 숫자로 시작할 수 없고 공백이 있으면 안되고 예약어는 불가
# print = '이것은 프린트' # 예약어는 불가 --> 문법적으로 막지 않음
변수명 = "값"
print(변수명)

값

In [29]:
name = '안녕하세요'
print(name)
name = 1004
print(name)

안녕하세요
1004

In [35]:
name2 = name + 100
print(name2)

1104

In [36]:
name = '안녕하세요'
name3 = name + 100
name3

TypeError: can only concatenate str (not "int") to str

In [37]:
name = '안녕하세요'
name3 = name + '100'
name3

'안녕하세요100'

In [56]:
name = '홍길동'
age = 30
# 출력은... 안녕하세요 000님 반갑습니다. 나이가 00 이시군요 --> 문장을 만들어서 변수에 저장하고 출력
result = '안녕하세요 ' +name+ '님 반갑습니다 나이가 ' +str(age)+ '이시군요'
print(result)

안녕하세요 홍길동님 반갑습니다 나이가 30이시군요

In [59]:
'안녕하세요 ' * 10

'안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 '

In [61]:
name = input('이름을 입력하세요 ')
age = input('나이를 입력하세요 ')
# 출력은... 안녕하세요 000님 반갑습니다. 나이가 00 이시군요 --> 문장을 만들어서 변수에 저장하고 출력
result = '안녕하세요 ' +name+ '님 반갑습니다 나이가 ' +str(age)+ '이시군요'
print(result)

이름을 입력하세요 30
나이를 입력하세요30
안녕하세요 30님 반갑습니다 나이가 30이시군요

In [68]:
# 문자형 숫자를 정수로 변환 --> int('20')
num1 = input('첫 번째 정수를 입력하세요 ')
num2 = input('두 번째 정수를 입력하세요 ')
result = int(num1) + int(num2)
print(result)
print('두 정수의 합은 : ' + str(result))

첫 번째 정수를 입력하세요 10
두 번째 정수를 입력하세요 20
30
두 정수의 합은 : 30

bool 형은 참(True)과 거짓(False)을 표현하는 논리형 데이터

In [70]:
is_adult = True
is_success = True
is_pass = True

True

In [72]:
temp = 10 > 100
print(temp)

False

In [ ]:
# 변수에 저장할 수 있는 데이터 : 문자, 숫자(정수, 실수), bool

In [ ]:
# 정리
# 명령어 또는 함수 : print, input, str, int
# 변수정의, 만드는 방법(할당), 사용하는 방법(새로운 변수에 할당, 변수 간 연산)

In [ ]:
# 복잡한 형태의 문자열 만들기 - f-string

In [79]:
name = "지민"
age = 20

print(f"안녕, 나는 {name}이고, 나이는 {age}살이야.")

안녕, 나는 지민이고, 나이는 20살이야.

In [81]:
name = input("이름을 입력하세요 : ")
age = input("나이는 몇 살인가요 : ")
adress = input("주소를 입력하세요 : ")

print(f"{name}님의 주소는 {adress}입니다. 나이는 {age}입니다.")

이름을 입력하세요 : 방가
나이는 몇 살인가요 : 30
주소를 입력하세요 : 서울시
방가님의 주소는 서울시입니다. 나이는 30입니다.