<a href="https://colab.research.google.com/github/KDH-lang/week_lecture/blob/main/day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플

In [ ]:
# 튜플 생성 예제

# 정수, 문자열, 부동소수점을 포함하는 튜플 생성
my_tuple = (1, "hello", 3.14)
print(my_tuple) # 튜플 출력

# 단일 요소를 가진 튜플 생성 시에는 요소 뒤에 쉼표를 붙여야 합니다.
single_element_tuple = (5,)
print(single_element_tuple)

# 빈 튜플 생성
empty_tuple = ()
print(empty_tuple)

# 튜플의 요소 접근 (인덱싱)
print(my_tuple[0])  # 첫 번째 요소 (인덱스 0)
print(my_tuple[1])  # 두 번째 요소 (인덱스 1)

# 튜플 슬라이싱
print(my_tuple[0:2]) # 인덱스 0부터 1까지의 요소 (인덱스 2는 포함되지 않음)

# 튜플 길이 확인
print(len(my_tuple))

# 튜플은 변경할 수 없습니다. 따라서 요소 추가, 삭제, 수정이 불가능합니다.
# my_tuple[0] = 10 # 이 코드는 오류를 발생시킵니다.

# 튜플 언패킹 (튜플의 각 요소를 변수에 할당)
a, b, c = my_tuple
print(a)
print(b)
print(c)

# 튜플 안에 튜플을 포함할 수 있습니다. (중첩 튜플)
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple)

# 튜플 반복
for item in my_tuple:
  print(item)

# 튜플은 집합(set), 리스트(list)와 같은 다른 데이터 타입으로 변환할 수 있습니다.
my_list = list(my_tuple)
print(my_list)

my_set = set(my_tuple)
print(my_set)

(1, 'hello', 3.14)
(5,)
()
1
hello
(1, 'hello')
3
1
hello
3.14
((1, 2), (3, 4))
1
hello
3.14
[1, 'hello', 3.14]
{1, 3.14, 'hello'}

In [ ]:
# 샘플로 튜플데이터 만들기, 최초 만든 데이터는 변형 불가능 - Read Only
# 원본 데이터를 보호
sample = (1, 2, 3, 4, 5, 1, 1, 1)
sample2 = [1, 2, 3, 4, 5]
print(sample.count(1))
print(sample.index(4))

4
3

In [ ]:
# 언패킹
sample = (1, 2, 3, 4, 5)
a, b, c, d, e = sample
print(a, b, c, d, e)

1 2 3 4 5

In [ ]:
# [국,영,수], 이름, 나이를 가지고 있는 학생 리스트를 만들기
student = [[90,95,97],'홍길동',25]
# unpacking
score, name, age = student
kor, eng, math = score

print(kor, eng, math, name, age)

90 95 97 홍길동 25

In [ ]:
# 슬라이싱
sample = (1, 2, 3, 4, 5)
print(sample[1:3])

sample1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(sample1[0:8])

(2, 3)
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# 음수 인덱스
sample = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(sample[-1])
print(sample[-3])
# 앞에서 2개만 출력
print(sample[:2])
# 뒤에서 2개만 출력
print(sample[-2:])

10
8
(1, 2)
(9, 10)

In [ ]:
sample = list(range(10000))
sample[-5:]

[9995, 9996, 9997, 9998, 9999]