<a href="https://colab.research.google.com/github/KDH-lang/week_lecture/blob/main/day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플

In [ ]:
# 튜플 생성 예제

# 정수, 문자열, 부동소수점을 포함하는 튜플 생성
my_tuple = (1, "hello", 3.14)
print(my_tuple) # 튜플 출력

# 단일 요소를 가진 튜플 생성 시에는 요소 뒤에 쉼표를 붙여야 합니다.
single_element_tuple = (5,)
print(single_element_tuple)

# 빈 튜플 생성
empty_tuple = ()
print(empty_tuple)

# 튜플의 요소 접근 (인덱싱)
print(my_tuple[0])  # 첫 번째 요소 (인덱스 0)
print(my_tuple[1])  # 두 번째 요소 (인덱스 1)

# 튜플 슬라이싱
print(my_tuple[0:2]) # 인덱스 0부터 1까지의 요소 (인덱스 2는 포함되지 않음)

# 튜플 길이 확인
print(len(my_tuple))

# 튜플은 변경할 수 없습니다. 따라서 요소 추가, 삭제, 수정이 불가능합니다.
# my_tuple[0] = 10 # 이 코드는 오류를 발생시킵니다.

# 튜플 언패킹 (튜플의 각 요소를 변수에 할당)
a, b, c = my_tuple
print(a)
print(b)
print(c)

# 튜플 안에 튜플을 포함할 수 있습니다. (중첩 튜플)
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple)

# 튜플 반복
for item in my_tuple:
  print(item)

# 튜플은 집합(set), 리스트(list)와 같은 다른 데이터 타입으로 변환할 수 있습니다.
my_list = list(my_tuple)
print(my_list)

my_set = set(my_tuple)
print(my_set)

(1, 'hello', 3.14)
(5,)
()
1
hello
(1, 'hello')
3
1
hello
3.14
((1, 2), (3, 4))
1
hello
3.14
[1, 'hello', 3.14]
{1, 3.14, 'hello'}

In [ ]:
# 샘플로 튜플데이터 만들기, 최초 만든 데이터는 변형 불가능 - Read Only
# 원본 데이터를 보호
sample = (1, 2, 3, 4, 5, 1, 1, 1)
sample2 = [1, 2, 3, 4, 5]
print(sample.count(1))
print(sample.index(4))

4
3

In [ ]:
# 언패킹
sample = (1, 2, 3, 4, 5)
a, b, c, d, e = sample
print(a, b, c, d, e)

1 2 3 4 5

In [ ]:
# [국,영,수], 이름, 나이를 가지고 있는 학생 리스트를 만들기
student = [[90,95,97],'홍길동',25]
# unpacking
score, name, age = student
kor, eng, math = score

print(kor, eng, math, name, age)

90 95 97 홍길동 25

In [ ]:
# 슬라이싱
sample = (1, 2, 3, 4, 5)
print(sample[1:3])

sample1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(sample1[0:8])

(2, 3)
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# 음수 인덱스
sample = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(sample[-1])
print(sample[-3])
# 앞에서 2개만 출력
print(sample[:2])
# 뒤에서 2개만 출력
print(sample[-2:])

10
8
(1, 2)
(9, 10)

In [ ]:
sample = list(range(10000))
sample[-5:]

[9995, 9996, 9997, 9998, 9999]

In [32]:
sample = list(range(10))
# start index : endindex : step
sample [ 0: 6 : 1]
sample [ : : 3]

[0, 3, 6, 9]

In [34]:
sample [ : : -1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [35]:
sample [ : : -2]

[9, 7, 5, 3, 1]

In [44]:
# 딕셔너리 생성하기
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print(my_dict)
score1 = {'kor': 90, 'eng': 85, 'math': 95}
score2 = {'eng': 90, 'math': 85, 'kor': 95}
print(score1)
print(score2)

{'apple': 1, 'banana': 2, 'cherry': 3}
{'kor': 90, 'eng': 85, 'math': 95}
{'eng': 90, 'math': 85, 'kor': 95}

In [47]:
# 비어있는 딕셔너리를 만들 때는
empty_dict = {}
empty_dict = dict() # 함수표현
print(empty_dict)

# 비어있는 튜플
empty_tuple = ()
empty_tuple = tuple()

# 비어있는 리스트
empty_list = []
empty_list = list()

{}

In [69]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
# 값에 접근 및 변경
my_dict['apple'] = 100
print(my_dict)
my_dict['grape'] = 1000
print(my_dict)

{'apple': 100, 'banana': 2, 'cherry': 3}
{'apple': 100, 'banana': 2, 'cherry': 3, 'grape': 1000}

In [60]:
my_dict['orange'] = 300
print(my_dict)

{'apple': 100, 'banana': 2, 'cherry': 3, 'grape': 1000, 'orange': 300}

In [61]:
my_dict.get('orange')

300

In [62]:
# 삭제
del my_dict['orange']
print(my_dict)

{'apple': 100, 'banana': 2, 'cherry': 3, 'grape': 1000}

In [63]:
my_dict.values()

dict_values([100, 2, 3, 1000])

In [64]:
my_dict.items()

dict_items([('apple', 100), ('banana', 2), ('cherry', 3), ('grape', 1000)])

In [70]:
my_dict.pop('apple')

100

In [37]:
# 딕셔너리 생성 예제

# key-value 쌍으로 이루어진 딕셔너리 생성
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print(my_dict) # 딕셔너리 출력

# key를 사용하여 value 접근
print(my_dict["apple"])
print(my_dict["banana"])

# 딕셔너리에 새로운 key-value 쌍 추가
my_dict["date"] = 4
print(my_dict)

# key를 사용하여 value 수정
my_dict["apple"] = 10
print(my_dict)

# key를 사용하여 key-value 쌍 삭제
del my_dict["banana"]
print(my_dict)

# 딕셔너리의 모든 key 가져오기
keys = my_dict.keys()
print(keys)

# 딕셔너리의 모든 value 가져오기
values = my_dict.values()
print(values)

# 딕셔너리의 모든 key-value 쌍 가져오기
items = my_dict.items()
print(items)

# 딕셔너리 길이 확인
print(len(my_dict))

# key 존재 여부 확인
print("apple" in my_dict)
print("banana" in my_dict)

# 딕셔너리 반복 (key를 중심으로)
for key in my_dict:
  print(key, my_dict[key])

# 딕셔너리 반복 (key-value 쌍으로)
for key, value in my_dict.items():
  print(key, value)

# 중첩 딕셔너리
nested_dict = {"person1": {"name": "홍길동", "age": 20}, "person2": {"name": "김철수", "age": 25}}
print(nested_dict)
print(nested_dict["person1"]["name"])

{'apple': 1, 'banana': 2, 'cherry': 3}
1
2
{'apple': 1, 'banana': 2, 'cherry': 3, 'date': 4}
{'apple': 10, 'banana': 2, 'cherry': 3, 'date': 4}
{'apple': 10, 'cherry': 3, 'date': 4}
dict_keys(['apple', 'cherry', 'date'])
dict_values([10, 3, 4])
dict_items([('apple', 10), ('cherry', 3), ('date', 4)])
3
True
False
apple 10
cherry 3
date 4
apple 10
cherry 3
date 4
{'person1': {'name': '홍길동', 'age': 20}, 'person2': {'name': '김철수', 'age': 25}}
홍길동